// Import Tilda Sans font
@import './fonts.scss';

// App global styles
* {
  font-family: 'Tilda Sans', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif;
}

.q-page {
  display: flex;
  flex-direction: column;
}
