/* Tilda Sans Font Family */
/* Copyright © ParaType, 2018. All rights reserved. */

/* Variable Font - рекомендуется для лучшей производительности */
@font-face {
  font-family: 'Tilda Sans';
  src:
    url('/fonts/tilda-sans/tilda-sans_vf.woff2') format('woff2-variations'),
    url('/fonts/tilda-sans/tilda-sans_vf.woff') format('woff-variations');
  font-weight: 100 900;
  font-style: normal;
  font-display: swap;
}

/* Фиксированные начертания для лучшей совместимости */

@font-face {
  font-family: 'Tilda Sans';
  src:
    url('/fonts/tilda-sans/tilda-sans_light.woff2') format('woff2'),
    url('/fonts/tilda-sans/tilda-sans_light.woff') format('woff');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Tilda Sans';
  src:
    url('/fonts/tilda-sans/tilda-sans_regular.woff2') format('woff2'),
    url('/fonts/tilda-sans/tilda-sans_regular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Tilda Sans';
  src:
    url('/fonts/tilda-sans/tilda-sans_medium.woff2') format('woff2'),
    url('/fonts/tilda-sans/tilda-sans_medium.woff') format('woff');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Tilda Sans';
  src:
    url('/fonts/tilda-sans/tilda-sans_semibold.woff2') format('woff2'),
    url('/fonts/tilda-sans/tilda-sans_semibold.woff') format('woff');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Tilda Sans';
  src:
    url('/fonts/tilda-sans/tilda-sans_bold.woff2') format('woff2'),
    url('/fonts/tilda-sans/tilda-sans_bold.woff') format('woff');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Tilda Sans';
  src:
    url('/fonts/tilda-sans/tilda-sans_extra-bold-.woff2') format('woff2'),
    url('/fonts/tilda-sans/tilda-sans_extra-bold-.woff') format('woff');
  font-weight: 800;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Tilda Sans';
  src:
    url('/fonts/tilda-sans/tilda-sans_black.woff2') format('woff2'),
    url('/fonts/tilda-sans/tilda-sans_black.woff') format('woff');
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}
