// Брендовые цвета ХичХайк
$primary   : #27126A; // Темно-фиолетовый (основной)
$secondary : #98EA14; // Ярко-зеленый (акцентирующий)
$accent    : #98EA14;

$dark      : #1D1D1D;
$dark-page : #121212;

$positive  : #98EA14; // Используем брендовый зеленый для положительных действий
$negative  : #C10015;
$info      : #31CCEC;
$warning   : #F2C037;
